@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@300;400;700&family=Roboto:wght@300;400&display=swap");

@layer base {
  :root {
    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-200: 0 0% 96%;
    --clr-neutral-300: 0 0% 89%;
    --clr-neutral-400: 222 9% 78%;
    --clr-neutral-500: 213 4% 51%;
    --clr-neutral-600: 216 8% 38%;
    --clr-neutral-700: 216 9% 23%;
    --clr-neutral-800: 220 7% 18%;
    --clr-neutral-900: 216 8% 12%;
    --clr-neutral-1000: 225 9% 9%;

    --clr-primary: 13 75% 58%;
    --clr-primary-hover: 21 86% 67%;

    --clr-split-pane: var(--clr-neutral-100);
    --clr-pane-header-bg: var(--clr-neutral-200);
    --clr-pane-header-text: var(--clr-neutral-500);
    --clr-markdown-text: var(--clr-neutral-700);
    --clr-preview-heading-primary: var(--clr-neutral-1000);
    --clr-preview-heading-accent: var(--clr-neutral-100);
    --clr-preview-paragraph: var(--clr-neutral-500);

    --clr-action-primary: var(--clr-primary);
    --clr-action-primary-hover: var(--clr-primary-hover);

    --clr-separator: var(--clr-neutral-300);
  }
}

*:focus {
  outline: none;
}

._markdown-preview > *:last-child {
  padding-bottom: 8rem;
}
